.preview{
    align-content: center;
}
.controls{
    width: 100%;
    display: table;
}
.controls_row{
    display: table-row;
}
.controls_cell{
    width: 50%;
    display: table-cell;
}
.element{
    font-size: 10px;
    text-align: center;
    color: #bbb;
    width: 100%;
    display: table;
}
.element_row{
    display: table-row;
}
.element_cell{
    width: 95%;
    display: table-cell;
}
.element_lock{
    width: 5%;
    display: table-cell;
}
.ui-btn-nb, label.ui-btn-nb {
    border-width: 0px;
    color: #000;
    font-size: 10px;
}
.ui-page-theme-a .ui-btn-nb:hover,
html .ui-bar-a .ui-btn-nb:hover,
html .ui-body-a .ui-btn-nb:hover,
html body .ui-group-theme-a .ui-btn-nb:hover,
html head + body .ui-btn.ui-btn-nb:hover {
	background-color: #000;
	border-color: #000;
	color: #000;
}