.preview{
    align-content: center;
}
.controls{
    width: 100%;
    display: table;
}
.controls_row{
    display: table-row;
}
.controls_cell{
    width: 50%;
    display: table-cell;
}
.element{
    font-size: 10px;
    text-align: center;
    color: #bbb;
}